In [1]:
import pandas as pd

## Drop NaNs

In [2]:
df = pd.read_csv("../00_DATA/final_dataset_v3.csv")

In [3]:
df.groupby("runtimeMinutes").count()

,Unnamed: 0,tconst,primaryTitle,originalTitle,isAdult,startYear,Adult,Animation,Fantasy,Game-Show,...,Sci-Fi,Short,Sport,Talk-Show,War,Western,averageRating,numVotes,budget,revenue
runtimeMinutes,,,,,,,,,,,,,,,,,,,,,
100,233,233,233,233,233,233,233,233,233,233,...,233,233,233,233,233,233,213,213,233,233
101,166,166,166,166,166,166,166,166,166,166,...,166,166,166,166,166,166,158,158,166,166
102,146,146,146,146,146,146,146,146,146,146,...,146,146,146,146,146,146,136,136,146,146
103,126,126,126,126,126,126,126,126,126,126,...,126,126,126,126,126,126,124,124,126,126
104,164,164,164,164,164,164,164,164,164,164,...,164,164,164,164,164,164,157,157,164,164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,181,181,181,181,181,181,181,181,181,181,...,181,181,181,181,181,181,171,171,181,181
97,206,206,206,206,206,206,206,206,206,206,...,206,206,206,206,206,206,195,195,206,206
98,213,213,213,213,213,213,213,213,213,213,...,213,213,213,213,213,213,199,199,213,213
99,181,181,181,181,181,181,181,181,181,181,...,181,181,181,181,181,181,175,175,181,181
\N,1034,1034,1034,1034,1034,1034,1034,1034,1034,1034,...,1034,1034,1034,1034,1034,1034,271,271,1034,1034

In [4]:
df.shape

(10112, 26)

In [5]:
df_nonan = df.dropna()

In [6]:
df_nonan.shape

(8331, 26)

In [7]:
df_nonan

,Unnamed: 0,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,Adult,Animation,Fantasy,...,Sci-Fi,Short,Sport,Talk-Show,War,Western,averageRating,numVotes,budget,revenue
0,0,tt0035423,Kate & Leopold,Kate & Leopold,0,2001,118,0,0,1,...,0,0,0,0,0,0,6.4,81936.0,48000000,76019048
1,3721,tt0112502,Bigfoot,Bigfoot,0,2017,\N,0,0,0,...,0,0,0,0,0,0,4.6,41.0,30000000,46372519
2,5062,tt0116391,Gang,Gang,0,2000,152,0,0,0,...,0,0,0,0,0,0,6.2,236.0,30000000,41480851
3,5778,tt0118589,Glitter,Glitter,0,2001,104,0,0,0,...,0,0,0,0,0,0,2.3,23292.0,22000000,5271666
4,6540,tt0120166,The Sorcerer's Apprentice,The Sorcerer's Apprentice,0,2001,86,0,0,1,...,0,0,0,0,0,0,4.5,565.0,150000000,215283742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10102,147181,tt9872052,Eight,Eight,0,2018,88,0,0,0,...,0,0,0,0,0,0,7.7,9.0,70000000,297718711
10103,147192,tt9875554,Alaska,Alaska,0,2019,72,0,0,0,...,0,0,0,0,0,0,6.2,20.0,23000000,11829959
10104,147224,tt9883996,Dream Horse,Dream Horse,0,2020,113,0,0,0,...,0,0,0,0,0,0,6.9,2919.0,20000000,6435260
10106,147263,tt9892546,Aladdin,Aladdin,0,2020,104,0,0,0,...,0,0,0,0,0,0,3.8,26.0,183000000,1047612394
10109,147334,tt9904802,Enemy Lines,Enemy Lines,0,2020,92,0,0,0,...,0,0,0,0,1,0,4.5,1432.0,40000000,91753202

In [8]:
df_nonan.groupby("runtimeMinutes").count()

,Unnamed: 0,tconst,primaryTitle,originalTitle,isAdult,startYear,Adult,Animation,Fantasy,Game-Show,...,Sci-Fi,Short,Sport,Talk-Show,War,Western,averageRating,numVotes,budget,revenue
runtimeMinutes,,,,,,,,,,,,,,,,,,,,,
100,213,213,213,213,213,213,213,213,213,213,...,213,213,213,213,213,213,213,213,213,213
101,158,158,158,158,158,158,158,158,158,158,...,158,158,158,158,158,158,158,158,158,158
102,136,136,136,136,136,136,136,136,136,136,...,136,136,136,136,136,136,136,136,136,136
103,124,124,124,124,124,124,124,124,124,124,...,124,124,124,124,124,124,124,124,124,124
104,157,157,157,157,157,157,157,157,157,157,...,157,157,157,157,157,157,157,157,157,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,171,171,171,171,171,171,171,171,171,171,...,171,171,171,171,171,171,171,171,171,171
97,195,195,195,195,195,195,195,195,195,195,...,195,195,195,195,195,195,195,195,195,195
98,199,199,199,199,199,199,199,199,199,199,...,199,199,199,199,199,199,199,199,199,199
99,175,175,175,175,175,175,175,175,175,175,...,175,175,175,175,175,175,175,175,175,175
\N,271,271,271,271,271,271,271,271,271,271,...,271,271,271,271,271,271,271,271,271,271

In [9]:
df_filtered = df_nonan[df_nonan['runtimeMinutes'].str.isnumeric()]

In [10]:
df_filtered

,Unnamed: 0,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,Adult,Animation,Fantasy,...,Sci-Fi,Short,Sport,Talk-Show,War,Western,averageRating,numVotes,budget,revenue
0,0,tt0035423,Kate & Leopold,Kate & Leopold,0,2001,118,0,0,1,...,0,0,0,0,0,0,6.4,81936.0,48000000,76019048
2,5062,tt0116391,Gang,Gang,0,2000,152,0,0,0,...,0,0,0,0,0,0,6.2,236.0,30000000,41480851
3,5778,tt0118589,Glitter,Glitter,0,2001,104,0,0,0,...,0,0,0,0,0,0,2.3,23292.0,22000000,5271666
4,6540,tt0120166,The Sorcerer's Apprentice,The Sorcerer's Apprentice,0,2001,86,0,0,1,...,0,0,0,0,0,0,4.5,565.0,150000000,215283742
5,6682,tt0120467,Vulgar,Vulgar,0,2000,87,0,0,0,...,0,0,0,0,0,0,5.2,4078.0,120000,14904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10102,147181,tt9872052,Eight,Eight,0,2018,88,0,0,0,...,0,0,0,0,0,0,7.7,9.0,70000000,297718711
10103,147192,tt9875554,Alaska,Alaska,0,2019,72,0,0,0,...,0,0,0,0,0,0,6.2,20.0,23000000,11829959
10104,147224,tt9883996,Dream Horse,Dream Horse,0,2020,113,0,0,0,...,0,0,0,0,0,0,6.9,2919.0,20000000,6435260
10106,147263,tt9892546,Aladdin,Aladdin,0,2020,104,0,0,0,...,0,0,0,0,0,0,3.8,26.0,183000000,1047612394
10109,147334,tt9904802,Enemy Lines,Enemy Lines,0,2020,92,0,0,0,...,0,0,0,0,1,0,4.5,1432.0,40000000,91753202

In [11]:
df_filtered.groupby("runtimeMinutes").count()

,Unnamed: 0,tconst,primaryTitle,originalTitle,isAdult,startYear,Adult,Animation,Fantasy,Game-Show,...,Sci-Fi,Short,Sport,Talk-Show,War,Western,averageRating,numVotes,budget,revenue
runtimeMinutes,,,,,,,,,,,,,,,,,,,,,
100,213,213,213,213,213,213,213,213,213,213,...,213,213,213,213,213,213,213,213,213,213
101,158,158,158,158,158,158,158,158,158,158,...,158,158,158,158,158,158,158,158,158,158
102,136,136,136,136,136,136,136,136,136,136,...,136,136,136,136,136,136,136,136,136,136
103,124,124,124,124,124,124,124,124,124,124,...,124,124,124,124,124,124,124,124,124,124
104,157,157,157,157,157,157,157,157,157,157,...,157,157,157,157,157,157,157,157,157,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,232,232,232,232,232,232,232,232,232,232,...,232,232,232,232,232,232,232,232,232,232
96,171,171,171,171,171,171,171,171,171,171,...,171,171,171,171,171,171,171,171,171,171
97,195,195,195,195,195,195,195,195,195,195,...,195,195,195,195,195,195,195,195,195,195
98,199,199,199,199,199,199,199,199,199,199,...,199,199,199,199,199,199,199,199,199,199
99,175,175,175,175,175,175,175,175,175,175,...,175,175,175,175,175,175,175,175,175,175

### Add actors and directors

In [13]:
df_filtered.to_csv("df_filtered.csv", index=False)