In [1]:
import numpy as np
import pandas as pd
import csv

In [3]:
crew_df = pd.read_csv('crewSelection.csv')

,tconst,directors,writers
0,tt0035423,nm0003506,"nm0737216,nm0003506"
1,tt0036177,nm0408348,"nm0411632,nm0412616"
2,tt0062336,"nm0749914,nm0765384","nm0749914,nm1146177"
3,tt0065392,"nm12030369,nm0300168,nm12030368",\N
4,tt0069049,nm0000080,"nm0000080,nm0462648"
...,...,...,...
147274,tt9915872,nm8063415,nm2507310
147275,tt9916170,nm5412267,"nm5412267,nm6743460,nm3245789"
147276,tt9916190,nm7308376,nm7308376
147277,tt9916362,nm1893148,"nm1893148,nm3471432"
147278,tt9916428,nm0910951,\N

In [16]:
movies_df = pd.read_csv('movies_selection_categorical.csv')
movies_df

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,Adult,Animation,Fantasy,Game-Show,...,Music,Musical,News,Reality-TV,Sci-Fi,Short,Sport,Talk-Show,War,Western
0,tt0035423,Kate & Leopold,Kate & Leopold,0,2001.0,118,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0036177,Muhomatsu no issho,Muhomatsu no issho,0,2008.0,100,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0062336,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,70,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0065392,Bucharest Memories,Amintiri bucurestene,0,2020.0,\N,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0069049,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147377,tt9915872,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,97,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
147378,tt9916170,The Rehearsal,O Ensaio,0,2019.0,51,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147379,tt9916190,Safeguard,Safeguard,0,2020.0,90,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147380,tt9916362,Coven,Akelarre,0,2020.0,92,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147381,tt9916428,The Secret of China,Hong xing zhao yao Zhong guo,0,2019.0,\N,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [17]:
ratings_df = pd.read_csv('ratingSelection.csv')
ratings_df

          tconst  averageRating  numVotes
0      tt0035423            6.4     81936
1      tt0036177            7.3       113
2      tt0062336            6.3       157
3      tt0065392            7.4        12
4      tt0069049            6.8      6930
...          ...            ...       ...
99145  tt9915872            7.7         7
99146  tt9916170            7.2         5
99147  tt9916190            3.6       226
99148  tt9916362            6.4      4085
99149  tt9916428            3.8        14

[99150 rows x 3 columns]

In [8]:
#crew_movies_df = crew_df.join(movies_df.set_index('tconst'), on='tconst')

In [10]:
#crew_movies_rating_df = crew_movies_df.join(ratings_df.set_index('tconst'), on='tconst')

In [15]:
#crew_movies_rating_df.columns

Index(['tconst', 'directors', 'writers', 'titleType', 'primaryTitle',
       'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes',
       'genres', 'averageRating', 'numVotes'],
      dtype='object')

In [18]:
merged_df = movies_df.join(ratings_df.set_index('tconst'), on='tconst')

In [20]:
merged_df.columns

Index(['tconst', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear',
       'runtimeMinutes', 'Adult', 'Animation', 'Fantasy', 'Game-Show',
       'History', 'Music', 'Musical', 'News', 'Reality-TV', 'Sci-Fi', 'Short',
       'Sport', 'Talk-Show', 'War', 'Western', 'averageRating', 'numVotes'],
      dtype='object')

In [21]:
merged_df.to_csv("final_dataset.csv", index=False)