## Final Data

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../00_DATA/final_filtered_data.csv")
df = df.drop(columns=["Unnamed: 0", "Unnamed: 0.1"], errors="ignore")
df

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,Adult,Animation,Fantasy,Game-Show,...,Sport,Talk-Show,War,Western,averageRating,numVotes,budget,revenue,isTopActor,isTopDirector
0,tt0035423,Kate & Leopold,Kate & Leopold,0,2001,118,0,0,1,0,...,0,0,0,0,6.4,81936.0,48000000,76019048,True,False
1,tt0116391,Gang,Gang,0,2000,152,0,0,0,0,...,0,0,0,0,6.2,236.0,30000000,41480851,False,False
2,tt0118589,Glitter,Glitter,0,2001,104,0,0,0,0,...,0,0,0,0,2.3,23292.0,22000000,5271666,False,False
3,tt0120166,The Sorcerer's Apprentice,The Sorcerer's Apprentice,0,2001,86,0,0,1,0,...,0,0,0,0,4.5,565.0,150000000,215283742,False,False
4,tt0120467,Vulgar,Vulgar,0,2000,87,0,0,0,0,...,0,0,0,0,5.2,4078.0,120000,14904,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,tt9872052,Eight,Eight,0,2018,88,0,0,0,0,...,0,0,0,0,7.7,9.0,70000000,297718711,False,False
7902,tt9875554,Alaska,Alaska,0,2019,72,0,0,0,0,...,0,0,0,0,6.2,20.0,23000000,11829959,False,False
7903,tt9883996,Dream Horse,Dream Horse,0,2020,113,0,0,0,0,...,0,0,0,0,6.9,2919.0,20000000,6435260,False,False
7904,tt9892546,Aladdin,Aladdin,0,2020,104,0,0,0,0,...,0,0,0,0,3.8,26.0,183000000,1047612394,False,False
7905,tt9904802,Enemy Lines,Enemy Lines,0,2020,92,0,0,0,0,...,0,0,1,0,4.5,1432.0,40000000,91753202,False,False

### Years since produced (reference: 2021)

In [9]:
df["yearsSinceProduced"] = 2021 - df["startYear"]
df.groupby("yearsSinceProduced").count()

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,Adult,Animation,Fantasy,Game-Show,...,Sport,Talk-Show,War,Western,averageRating,numVotes,budget,revenue,isTopActor,isTopDirector
yearsSinceProduced,,,,,,,,,,,,,,,,,,,,,
0,204,204,204,204,204,204,204,204,204,204,...,204,204,204,204,204,204,204,204,204,204
1,257,257,257,257,257,257,257,257,257,257,...,257,257,257,257,257,257,257,257,257,257
2,465,465,465,465,465,465,465,465,465,465,...,465,465,465,465,465,465,465,465,463,463
3,452,452,452,452,452,452,452,452,452,452,...,452,452,452,452,452,452,452,452,452,452
4,477,477,477,477,477,477,477,477,477,477,...,477,477,477,477,477,477,477,477,477,477
5,500,500,500,500,500,500,500,500,500,500,...,500,500,500,500,500,500,500,500,500,500
6,446,446,446,446,446,446,446,446,446,446,...,446,446,446,446,446,446,446,446,446,446
7,456,456,456,456,456,456,456,456,456,456,...,456,456,456,456,456,456,456,456,456,456
8,420,420,420,420,420,420,420,420,420,420,...,420,420,420,420,420,420,420,420,420,420
9,425,425,425,425,425,425,425,425,425,425,...,425,425,425,425,425,425,425,425,425,425
10,435,435,435,435,435,435,435,435,435,435,...,435,435,435,435,435,435,435,435,435,435
11,413,413,413,413,413,413,413,413,413,413,...,413,413,413,413,413,413,413,413,413,413
12,391,391,391,391,391,391,391,391,391,391,...,391,391,391,391,391,391,391,391,391,391
13,334,334,334,334,334,334,334,334,334,334,...,334,334,334,334,334,334,334,334,334,334
14,340,340,340,340,340,340,340,340,340,340,...,340,340,340,340,340,340,340,340,340,340
15,354,354,354,354,354,354,354,354,354,354,...,354,354,354,354,354,354,354,354,353,353
16,306,306,306,306,306,306,306,306,306,306,...,306,306,306,306,306,306,306,306,306,306
17,280,280,280,280,280,280,280,280,280,280,...,280,280,280,280,280,280,280,280,280,280
18,232,232,232,232,232,232,232,232,232,232,...,232,232,232,232,232,232,232,232,232,232
19,257,257,257,257,257,257,257,257,257,257,...,257,257,257,257,257,257,257,257,257,257
20,247,247,247,247,247,247,247,247,247,247,...,247,247,247,247,247,247,247,247,247,247
21,215,215,215,215,215,215,215,215,215,215,...,215,215,215,215,215,215,215,215,215,215

## Data Splitting

In [16]:
df_train = pd.DataFrame(df[df["startYear"] <= 2015])
df_test = pd.DataFrame(df[df["startYear"] > 2015])
assert(df_train.shape[0] + df_test.shape[0] == df.shape[0])

In [24]:
df_train["isTopActor"] = pd.Series([1 if x == True else 0 for x in df_train["isTopActor"]], index=df_train["isTopActor"].index)
df_train["isTopDirector"] = pd.Series([1 if x == True else 0 for x in df_train["isTopDirector"]], index=df_train["isTopDirector"].index)

df_test["isTopActor"] = pd.Series([1 if x == True else 0 for x in df_test["isTopActor"]], index=df_test["isTopActor"].index)
df_test["isTopDirector"] = pd.Series([1 if x == True else 0 for x in df_test["isTopDirector"]], index=df_test["isTopDirector"].index)
df_test

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,Adult,Animation,Fantasy,Game-Show,...,Talk-Show,War,Western,averageRating,numVotes,budget,revenue,isTopActor,isTopDirector,yearsSinceProduced
639,tt0293429,Mortal Kombat,Mortal Kombat,0,2021,110,0,0,1,0,...,0,0,0,6.1,150542.0,20000000,83601013,0,0,0
769,tt0315642,Wazir,Wazir,0,2016,103,0,0,0,0,...,0,0,0,7.2,18426.0,5200000,9200000,0,0,5
1281,tt0385887,Motherless Brooklyn,Motherless Brooklyn,0,2019,144,0,0,0,0,...,0,0,0,6.8,51825.0,26000000,18377736,1,0,2
1649,tt0437086,Alita: Battle Angel,Alita: Battle Angel,0,2019,122,0,0,0,0,...,0,0,0,7.3,249934.0,170000000,404852543,1,1,2
1674,tt0441881,Danger Close,Danger Close: The Battle of Long Tan,0,2019,118,0,0,0,0,...,0,1,0,6.8,11395.0,23934823,2078370,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7901,tt9872052,Eight,Eight,0,2018,88,0,0,0,0,...,0,0,0,7.7,9.0,70000000,297718711,0,0,3
7902,tt9875554,Alaska,Alaska,0,2019,72,0,0,0,0,...,0,0,0,6.2,20.0,23000000,11829959,0,0,2
7903,tt9883996,Dream Horse,Dream Horse,0,2020,113,0,0,0,0,...,0,0,0,6.9,2919.0,20000000,6435260,0,0,1
7904,tt9892546,Aladdin,Aladdin,0,2020,104,0,0,0,0,...,0,0,0,3.8,26.0,183000000,1047612394,0,0,1
7905,tt9904802,Enemy Lines,Enemy Lines,0,2020,92,0,0,0,0,...,0,1,0,4.5,1432.0,40000000,91753202,0,0,1

In [28]:
# Rename columns
df_train = df_train.rename(columns={'Sci-Fi': 'SciFi', 'Talk-Show': 'TalkShow', 'Reality-TV': 'RealityTV', 'Game-Show': 'GameShow'})
df_test = df_test.rename(columns={'Sci-Fi': 'SciFi', 'Talk-Show': 'TalkShow', 'Reality-TV': 'RealityTV', 'Game-Show': 'GameShow'})

In [30]:
df_train = df_train.drop(columns=["Adult", "isAdult", "RealityTV", "Short", "TalkShow"])
df_test = df_test.drop(columns=["Adult", "isAdult", "RealityTV", "Short", "TalkShow"])
df_train

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,Animation,Fantasy,GameShow,History,Music,...,Sport,War,Western,averageRating,numVotes,budget,revenue,isTopActor,isTopDirector,yearsSinceProduced
0,tt0035423,Kate & Leopold,Kate & Leopold,2001,118,0,1,0,0,0,...,0,0,0,6.4,81936.0,48000000,76019048,1,0,20
1,tt0116391,Gang,Gang,2000,152,0,0,0,0,0,...,0,0,0,6.2,236.0,30000000,41480851,0,0,21
2,tt0118589,Glitter,Glitter,2001,104,0,0,0,0,1,...,0,0,0,2.3,23292.0,22000000,5271666,0,0,20
3,tt0120166,The Sorcerer's Apprentice,The Sorcerer's Apprentice,2001,86,0,1,0,0,0,...,0,0,0,4.5,565.0,150000000,215283742,0,0,20
4,tt0120467,Vulgar,Vulgar,2000,87,0,0,0,0,0,...,0,0,0,5.2,4078.0,120000,14904,0,0,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7752,tt9020558,Hollywood Burn,Hollywood Burn,2006,52,0,0,0,1,0,...,0,0,0,8.5,38.0,10000000,45779,1,0,15
7755,tt9033128,Blood of War,Blood of War,2012,110,0,0,0,0,0,...,0,1,0,3.6,7.0,35000000,81093313,0,0,9
7827,tt9345114,Thirty,Thalathoun,2008,105,0,0,0,1,0,...,0,0,0,8.9,12.0,40000000,132820716,0,0,13
7836,tt9387330,I Love You as a Man,Lei si ai qing,2014,98,0,0,0,0,0,...,0,0,0,6.2,12.0,41000000,91980359,0,0,7
7851,tt9546080,Crazy Love,Crazy Love,2013,90,0,0,0,0,0,...,0,0,0,7.3,23.0,50000000,142851197,0,0,8

In [31]:
df_train.to_csv("train_dataset.csv", index=False)
df_test.to_csv("test_dataset.csv", index=False)

Delete zeros columns: ["Adult", "isAdult", "RealityTV", "Short", "TalkShow"]

df